.slider-card{
    position: relative;
    padding: 0;
    border-radius: 0px;
    box-shadow: 6px 12px #888888 ;
    height: 400px;
    flex-basis: 100%;
}

.slider-card img {
    display: block;
    width: 100%;
    height: 400px;
    object-fit: fill;
}

.slider-card img.image-active{
    display: block;
    width: 100%;
    height: 400px;
}

@media only screen and (max-width:1200px){
    .slider-card{
        flex-basis: 25%;
    }
}
@media only screen and (max-width:1024px){
    .slider-card{
        flex-basis: 33.33%;
    }
}
@media only screen and (max-width:768px){
    .slider-card{
        flex-basis: 100%;
    }
}

.slider-card .card-body{
    position: absolute;
    top: 15%; bottom: 0;
    left: 5%;
    right: 0;
    overflow: visible;
    z-index: 2;
    color: white;
    max-width: 20%;
    padding: 2px;
}
.slider-card .card-body .card-title{
    font-size: xx-large;
}
